.editor {
    width: 40vw;
    box-shadow: 4px 4px 8px hsl(240, 7%, 5%);
    font-size: 1.5rem;

}

.unstuck {
    width: 3vw;
    height: 3vh;
    background-color: hsl(0, 59%, 43%);
    color: #fff;
    box-shadow: 4px 4px 8px hsl(240, 7%, 5%);
}

.unstuck:hover {
    cursor: pointer;
    box-shadow: 4px 4px 8px hsl(240, 5%, 25%);
}

.back {
    font-size: 2rem;
}