.container {
    background: rgb(33,30,85);
    background: radial-gradient(circle, rgba(33,30,85,1) 43%, rgba(49,29,99,1) 78%, rgba(57,29,106,1) 96%);
    height: 100vh;
    padding: 1vw;
}
.card-container {
    display: flex;
    gap: 3vw;
    padding: 1vw;
}
.big-title {
    font-size: 2rem;
    color: #fff;
}